
#Nombreescuela {
    margin-top: 10%;
    color: white;
}

main {
    margin: 8%;
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
}
#color{
    color: black;
}

#caja {
    display: grid;
    place-items: center;
 margin: auto;
}
p{
    color: black;
    
}
#ubicacion{
    margin-top: 10%;
}

#logoprincipal {
    background-color: aliceblue;
    border-radius: 100%;
}
#Contenido{
    margin-top: 5%;
}
footer{
    margin: 5%;
}
a:hover, bottom:hover{
    animation: animacion infinite 3s;

}
#ir-arriba {
    font-size: 24px; 
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    background-color: green;
    border-radius: 50%; 
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}
@keyframes animacion {
    0% {background-color: red;}
    25%{background-color: orange;}
    50%{background-color: blue;}
    75%{background-color: green;}
    100%{background-color: red;}
}
#ir-arriba:hover {
    animation: animacion infinite forwards;
    opacity: 0.8; 
    transform: scale(1.1); 
}
.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 10px 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #BBBBBB;
    transition: all .5s ease;
}
